
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="navbar">
    <a href="{% url 'home' %}">Read</a>
    <a href="{% url 'create' %}">Create</a>
    <a href="{% url 'update' %}">Update</a>
    <a href="{% url 'delete' %}">Delete</a>
</div>

<h1 class="welcome-message">Read Data</h1>

<!--<h1>Read Data</h1>-->
<table>
    <tr>
        <th>Name</th>
        <th>Values</th>
    </tr>
    {% for name, value_set in data.items %}
    <tr>
        <td>{{ name }}</td>
        <td>
            {% for value in value_set %}
            {{ value }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
